<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; font-size: 18px;
  max-width: 600px; line-height: 24px; }
</style>

<div class='message-content'>
  <p> Olá {{name}}! </p>

  <br />

  <p>
    Recebemos uma solicitação de redefinição de senha para a sua conta de
    usuário
  </p>
  <p>
    Se realmente foi você que solicitou, clique no link abaixo para resetar sua
    senha
  </p>
  <p>
    <a href="{{link}}">
      Resetar minha senha
    </a>
  </p>
  <p> Caso você não tenha solicitado esse email, descarte este email! </p>

  <br />

  <p>Equipe de Vendas</p>
</div>
